body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
  }
  
  .navbar-item.profile {
    display: flex;
    align-items: center;
  }
  
  .navbar-item.profile i {
    margin-right: 5px;
  }
  
  .navbar-item.active {
    background-color: #555;
    font-size: 18px;
    color: #fff;
  }
  
  /* Responsive Styling */
  @media only screen and (max-width: 600px) {
    .navbar {
      flex-wrap: wrap;
    }
  
    .navbar-item {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  tbody td {
    padding: 10px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media only screen and (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    th {
      text-align: left;
    }
  
    tbody tr {
      border-bottom: 1px solid #ddd;
    }
  }
  